{{#extend "layout"}}
    {{#content "body"}}

        <h1>{{title}}</h1>

        {{#each posts}}
            <div>
                <a href="/{{url}}.html">{{title}}</a> ({{shortDate date}})
            </div>
        {{/each}}

        {{#isDefined prev}}
                <a href="/categories/{{urlFriendlyTag}}{{#neq prev 0}}-{{prev}}{{/neq}}.html">Previous</a>
        {{/isDefined}}

        {{#if next}}
            <a href="/categories/{{urlFriendlyTag}}-{{next}}.html">Next</a>
        {{/if}}

    {{/content}}

    {{#content "footer"}}
        <a href="/categories">Categories</a> |     
        <a href="/archive/archive.html">All posts</a>
    {{/content}}       

{{/extend}}


