<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.png'/>
        <meta http-equiv="content-type" name="description" content="{{common.description}}">
        <meta http-equiv="content-type" name="keywords" content="{{post.keywords}}">
        <title>{{common.name}}</title>
        {{{block "head"}}}
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    </head>
    <body>
        <div class="layout">
            
            <header class="header">
                <div class="layout-scaffold">
                    <div class="header-structure">
                        <div class="header-logoTitleWrapper">
                            <a class="" href="/"><h1 class="header-title">{{common.name}}</h1></a>
                        </div>

                        <ul class="header-menu">
                            
                            <li class="header-menuItem header-menuItemSearch">
                                <a class="header-menuItemLink">
                                    <a class="header-searchToggle">
                                        <img class="header-searchToggleImg" src="/static/icons/search.png" />
                                    </a>
                                </a>
                            </li>

                            {{#each menuItems}}
                                <li class="header-menuItem">
                                    <a class="header-menuItemLink" href="{{url}}">
                                        {{title}}
                                    </a>
                                </li>
                            {{/each}}
                            <li class="header-menuItem header-menuItem--small">
                                <a class="header-menuItemLink" href="/tags">Tags</a>  
                            </li>
                            <li class="header-menuItem header-menuItem--small">
                                <a class="header-menuItemLink" href="/archive/archive.html">All posts</a>
                            </li>
                        </ul>

                        <i class="header-menuToggle header-menuToggleMenu">
                            <img class="header-menuIcon" src="/static/icons/menu.png" />
                        </i>

                        <i class="header-menuToggle header-menuToggleSearch">
                            <img class="header-menuIcon" src="/static/icons/search.png" />
                        </i>
                    </div>
                    <div class="header-searchBar">
                        <div class="header-seachBarRow">
                            <input class="header-searchField" type="text" />
                            <button class="header-search">Search</button>
                        </div>
                        <div class="header-seachBarRow">
                            <div class="header-searchResults"></div>
                        </div>
                    </div>
                </div>
            </header>



            <main class="layout-content">
                <div class="layout-scaffold">
                    {{{block "body"}}}
                </div>
            </main>

            <footer class="layout-footer">
                <div class="layout-scaffold">
                    {{{block "footer"}}}
                </div>
            </footer>

        </div>
        <script src="/static/js/base.js"></script>
        <script src="/static/js/webpack.js"></script>
    </body>
</html>
