{{#extend "layout"}}
    
    {{#content "header"}}
        <meta name=”robots” content=”noindex”>
    {{/content}}
    
    {{#content "body"}}

        <h1>Older posts</h1>

        {{#each posts}}
            <div class="archive-item">
                <a href="{{url}}">{{title}}</a> 

                {{#if description}}
                    <p>
                        {{{description}}}
                    </p>
                {{/if}}

                <div class="archive-date">
                    ({{shortDate date}}, {{ago date}})
                </div>
            </div>
        {{/each}}

        <div class="pager">
            <div class="pager-previous">
                {{#isDefined prev}}
                    <a href="/archive/archive{{#neq prev 0}}-{{prev}}{{/neq}}.html">Older</a>
                {{/isDefined}}
            </div>
            <div class="pager-next">
                {{#isDefined next}}
                    <a href="/archive/archive{{#neq next 0}}-{{next}}{{/neq}}.html">Newer</a>
                {{/isDefined}}
            </div>
        </div>

    {{/content}}

    {{#content "footer"}}
        {{>footer}}
    {{/content}} 

{{/extend}}


